html * {
    background-color: #2c2f33;
}
body {
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
}
.circlebox {
    width: 100px;
    height: 500px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -50%;
    background-color: transparent;
}
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    margin-top: 400px;
}
#circlebox1 {
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}